[submodule "pp_moveit"]
	path = pp_moveit
	url = https://github.com/ros-planning/moveit.git
[submodule "stomp_ros"]
	path = stomp_ros
	url = https://github.com/ros-industrial/stomp_ros.git
[submodule "stomp"]
	path = stomp
	url = https://github.com/ros-industrial/stomp.git
[submodule "src/Universal_Robots_ROS_Driver"]
	path = src/Universal_Robots_ROS_Driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS_Driver.git
[submodule "Universal_Robotics_ROS_Driver"]
	path = Universal_Robotics_ROS_Driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS_Driver.git
[submodule "universal_robot"]
	path = universal_robot
	url = https://github.com/MobMonRob/universal_robot.git
	branch = calibration_devel
[submodule "moveit"]
	path = moveit
	url = https://github.com/MobMonRob/moveit.git
	branch = melodic-devel
[submodule "warehouse_ros_mongo"]
	path = warehouse_ros_mongo
	url = https://github.com/MobMonRob/warehouse_ros_mongo.git
	branch = melodic-devel
